Videos/*
__pycache__/*
Queries/*
Scenes/*
Audios/*
Sample/Query/Scene/*
Sample/Query/*.mp4
Sample/Query/*.wav
Frames/*
Sample/Query/*
Sample/Scene/*
Sample/Video/*
_Frames/*
_Scenes/*
*.pyc
.DS_Store
.DS_Store
