Videos/*
__pycache__/*
Queries/*
Scenes/*
Audios/*
Sample/Query/Scene/*
Sample/Query/*.mp4
Sample/Query/*.wav
Frames/*
RGBs/*
Sample/Query/*
Sample/Scene/*
Sample/Video/*
_Frames/*
_Scenes/*
*.pyc
*.rgb
*.png
*.jpg
*.DS_Store*

hash_search/*/*.mp4
hash_search/*/*.csv
hash_search/*/*.rgb
hash_search/*.db
