asttokens==2.4.1
audiodiff @ git+https://github.com/SteveClement/audiodiff.git@7ebc8552fe646083dc2b29c4c15b800b61cdc457
audioread==3.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chromaprint==0.5
click==8.1.7
colorama==0.4.6
comm==0.2.0
comtypes==1.2.0
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
ffmpeg-python==0.2.0
future==0.18.3
idna==3.4
IProgress==0.4
ipykernel==6.27.0
ipython==8.17.2
ipywidgets==8.1.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab-widgets==3.0.9
matplotlib-inline==0.1.6
mutagen==1.47.0
mutagenwrapper @ git+https://github.com/SteveClement/mutagenwrapper.git@2d9f8cac9a6a7cc811943536c7716ad4317023c9
nest-asyncio==1.5.8
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
parso==0.8.3
platformdirs==4.0.0
prompt-toolkit==3.0.41
psutil==5.9.6
pure-eval==0.2.2
pyacoustid==1.3.0
pycparser==2.21
Pygments==2.17.0
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.1
requests==2.31.0
scenedetect==0.6.2
setuptools==68.0.0
six==1.16.0
soundfile==0.12.1
stack-data==0.6.3
termcolor==1.1.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
urllib3==2.1.0
wcwidth==0.2.10
wheel==0.41.2
widgetsnbextension==4.0.9
